.content{
    margin: 100px;
    min-height: 65vh;
    overflow-y: auto;
}

h1{
    color: cadetblue;
}

.card{
    width: 320px;
    margin: 50px auto;
}

.card-body{
    padding: 10px;
    margin-top: 30px;
    text-align: center;
}

#restaurant-title{
    color: cadetblue;
}

header{
    position: fixed;
    top:0;
    z-index: 1;
    width: 100%;
    padding: 10px 50px;
    background-color: cornflowerblue;
}

header .nav-item a{
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.footer{
    text-align: center;
    width: 100%;
}

footer .card-header{
    background-color: cornflowerblue;
    color:white;
}

.footer-text{
    color:white;
}
.pagination{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    bottom :40px;
    width: 100%;
    margin-bottom: 40px;
    color: cadetblue;
}

.pagination-no{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.pagination-info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.pagination-info div{
    margin: 5px;
    padding: 10px;
    border: 1px solid lightblue;
}

.pagination-no div{
    margin: 5px;
    padding: 10px;
}
